body{
    background-color:   rgb(14, 161, 149);
    
    background-image: url("teachers-vacancies-education.jpg");
    background-size: cover;
    }

body p {
    color: rgb(80, 80, 80);
    text-align: right;
    margin-right: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    } 
ul, ol, menu{
    list-style: none;
    padding: 5px;

}
header{
    background-color:rgb(14, 161, 149);
    color: white;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 0px 16px;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}
header img {
    vertical-align: middle;
}
menu li{
    display: inline-block;
    margin: 10px;
    cursor: pointer;
        }
nav {
    display: inline-block;
    }
.main_info { 
margin-right: 250px;
margin-left: 250px;
}
.headline {
    text-align: center;
    color: black;
    font-size: 60px;
          }
.post-content {
    text-align: center;
    color: black;
    font-size: 20px;
            }
.teachers{
    display: flex;
    text-align: center;
    margin-top: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(61, 61, 61);
    font-size: 50px;
    flex-direction: column;
}
.teacher{
flex-wrap: wrap;
display: flex;
color: black;
font-size: 20px;
padding: 10px;
flex-direction: column;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
    
